/* WDD 230 - Assignment Portal CSS */

/* * is a wildcard referring to all elements. */
* {

    box-sizing: border-box;
}

body {
    max-width: 750px;
    font-size: 16px;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px auto;
}

h1 {
    text-align: center;
    font-size:  1.5rem;
    color: whitesmoke;
    font-family: 'Oleo Script', cursive;
}

h2 {
    text-align: center;
    border-bottom: 1px solid #bbb;
    font-family: 'Oleo Script', cursive;
    font-size: 1.5rem;
}

header,
footer {
    margin: 1.5rem;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
    background-color: navy;
    color: whitesmoke;
    padding: 1.5em;    
}

main {
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}


header img {
    width: 20%;
    height: 20%;
    float: right;
}

nav lessons {
    margin-left: 3em;
    display: flex;
}

nav ul {
    list-style-type: disc;
}


#updated {
    color: yellow;
 }

#footer_link {
    color: white;
}
