/* WDD 230 - Assignment Portal CSS */

/* * is a wildcard referring to all elements. */
@media only screen and (min-width: 20em) {

    .container {
        margin: 0 auto;
        max-width: 950px;

    }

    h1,
    h2,
    h3 {
        text-align: center;
        font-size: 1.5rem;
        color: whitesmoke;
        font-family: 'Oleo Script', cursive, Arial, Helvetica, sans-serif;
        margin: auto;
    }

    h2 {
        border-bottom: 1px solid #bbb;
    }

    section h2,
    h3 {
        font-size: 1.5rem;
        color: whitesmoke;
        font-family: 'Glegoo', serif, Arial, Helvetica, sans-serif;
        margin-top: 30px;
        padding-bottom: 20px;
    }

    header,
    footer {
        margin: 1.5rem;
        padding: 1em;
        border-radius: 10px;
        text-align: center;
        background-color: rgb(113, 106, 114);
        color: whitesmoke;
        padding: 1.5em;
    }

    main {
        padding: 15px;
        margin: 0 auto;
        display: grid;
        font-size: 1.2rem;
        grid-template-columns: 1fr;

    }

    img {
        margin: 5px 5px 5px 5px;
        border-style: solid;
        width: 90%;
        height: auto;
    }

    a {
        margin: 0px 10px;
        color: white;
    }

    p {
        margin: 3px 3px;
        color: white;
        padding: 1.0em;
    }

    section {
        margin: 4px;
        background-color: rgb(24, 24, 66);
        text-align: center;
    }
}